body{
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
    font-size: 25px;
}
h1{
    font-size: 50px;
}
.name-color{
    color:#a503fc;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(crimson, black);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/topbanner.png);
    background-repeat: no-repeat;
}
.dream-area{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    margin-top: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left:5%;
    margin-right:5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px grey;
    margin-bottom: 30px;
    
}
#blu-border{
    border-left: 7px solid blue;
}

#red-border{
    border-left: 7px solid tomato;
}

footer p{
    margin-top: 100px;
    text-align: center;
}