body{
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color:#a503fc;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(crimson, black);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/topbanner.png);
    background-repeat: no-repeat;
}
.dream-area{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}